*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#prodactsAdd{
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    #tableDiv{
        width: 100%;
        border: 0.4px solid rgb(167, 167, 167);
        margin-top: 20px;
        padding-top: 20px;
        .myBox{
            width: 100%;
            min-height: 130px;
            border: 0.4px solid rgb(167, 167, 167);
            td{
                width: 25%;
                min-height: 130px;
                border: 0.4px solid rgb(167, 167, 167);
                text-align: center;
                img{
                    width: 100px;
                    height: 60px;
                }
            }
        }
    }
}